html {
    height: 100%;
}

body {
    height: 100%;
}

nav {
    position: fixed;
    z-index: 10;
    background-color: #2ECC71;
}


nav .brand-logo {
    font-family: 'Anton', sans-serif;
    color: white;
    margin-left: 2rem;
}


#gifs-container {
    float: left;
}
#content-template {
    float: left;
}

div.input-field {
      margin-top: 6rem;
}

.btn {
    background-color: black;
      margin-top: 6.5rem;
      margin-left: 2rem;
}

.btn:hover {
    background-color: #2ECC71;
}

div.card-content.white-text {
    padding: 14px;
    background-color:#212121;
    /* border-radius: .5rem; */
}

#gifs-container {
    margin-top: 13rem;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: white;
    text-transform: none;
}

.card .card-action {
    background-color: black;
}

.input {
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: rgba(245, 245, 245, 0.8)
}

.page-footer {
    background-color: #2ECC71;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.page-footer .footer-copyright {
    background-color: black;
}